.App {
  text-align: center;
  position: fixed; 
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.SideNav{
  height: 100%; 
  width: 10%;  
  position: fixed; 
  z-index: 1; 
  top: 10%; 
  left: 0; 
  background-color:lightgrey; 
  color: white;
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  text-decoration: none;
}
.SideNav a:link {
  text-decoration: none;
}

.SideNav a:visited {
  text-decoration: none;
}

.SideNav a:hover {
  text-decoration: underline;
}

.SideNav a:active {
  text-decoration: underline;
}
.MainContent{
  top:10%;
  padding-left: 12%;
  width: 85%;
  overflow: hidden;
}

.App1{
  top:30%;
  padding-left: 5%;
  width: 90%;
  overflow: hidden;
}